{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Турбокомпресори">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'css/utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="{% static 'initMap.js' %}"></script>
    <title>Galatech | Турбокомпресори | Varna</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <img src="{% static 'images/galatech_logo_transp.png' %}" alt="Logo" width="30" height="24"
             class="avatar">
        <a class="navbar-brand" href="{% url 'index' %}"><span class="text-primary">Gala</span>tech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'products' %}">Products</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="root">
    {% block page_content %}
    {% endblock %}
</div>


<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4vBZeYj6fHBkh1Q26yIG9x-YwTinQFIE&callback=initMap&v=weekly"
        defer
></script>
<div id="footer">
    <p> Galatech &reg; Varna</p>
    <p> Copyright 2022</p>
</div>
</body>
</html>