{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Турбокомпресори">
    {#    <link rel="stylesheet" href="css/all.css">#}
    <link rel="stylesheet" href="{% static 'css/utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    {#    <script type="module" src="../../staticfiles/initMap.js"></script>#}
    <title>Galatech | Турбокомпресори | Varna</title>
</head>
<body id="home">

<div id="navbar" class="navbar">
    <div id="logo-avatar"><a href="{% url 'index' %}">
        <img src="{% static 'images/galatech_logo_transp.png' %}" alt="" class="avatar">
    </a>
        <h1 class="logo">
            <a href="{% url 'index' %}"><span class="text-primary">Gala</span>tech</a>
        </h1>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'ticket-create' %}">Tickets</a></li>
            <li><a href="#about">Calendar</a></li>
            {% if request.user.is_superuser %}
                <li><a href="{% url 'create-product' %}">Add Products</a></li>
            {% endif %}
            {% if request.user.is_superuser %}
                <li><a href="{% url 'list-days-off-req' %}">Day-Off Req</a></li>
            {% else %}
                <li><a href="{% url 'days-off-req' %}">Day-Off Req</a></li>
            {% endif %}
            <li><a href="{% url 'logout-confirm' %}">Log out</a></li>
            <li>
                <a href="{% url 'profile-edit' request.user.id %}">
                    <img src="{{ request.user.galatechprofile.photo.url }}" alt="" class="avatar">
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="root">
    {% block page_content %}
    {% endblock %}
</div>


{#<script#}
{#        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"#}
{#        defer#}
{#></script>#}
<div id="footer">
    <p> Galatech &reg; Varna</p>
    <p> Copyright 2022</p>
</div>
</body>
</html>