{% extends 'base/base.html' %}
{% block page_content %}
<div class="container">
  <div class="row row-cols-sm-4">
    {% for p in products %}
        <div class="col-md-3">
            <p><strong>BGN </strong><span class="price">{{ p.price }}</span> lv.</p>
            <div class="product-image"><img src="{{ p.photo.url }}" alt="example1"/></div>

            <p class="title">
                <strong>{{ p.product_name }}</strong>
            </p>

            <a class="details-btn" href="#">Details</a>
        </div>
    {% endfor %}
  </div>
</div>

{% endblock %}