{% extends 'base/dashboard.html' %}
{% load placeholders %}
{% block page_content %}
    <div id="home-content">

        <form method="post">
            {% csrf_token %}
            <div class="wrapper">
                <div class="main-style-form" id="confirm-pass-form">
                    <h3 class="text-primary">Change Password</h3>
                    <label id="label-inner"> Old password</label>
                    {{ form.old_password|placeholder:'Current password' }}
                    <label id="label-inner"> New Password </label>
                    {{ form.new_password1|placeholder:'New password' }}
                    <label id="label-inner"> Confirm Password </label>
                    {{ form.new_password2|placeholder:'Confirm password' }}
                    <div>
                        <button class="btn btn-primary" type="submit">Change</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
{% endblock %}