{% extends 'base/base.html' %}
{% block page_content %}
    <div class="main-style-form">
        <h1>{{ request.user.galatechprofile.first_name }} are you sure you want to log out?</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="confirm-delete">
           <a class="btn btn-primary" href="{% url 'logout' %}">Confirm</a>
           <a class="btn btn-primary" href="{% url 'dashboard' %}">Go Back</a>
            </div>
        </form>
    </div>
{% endblock %}