{% extends 'base/base.html' %}
{% load placeholders %}
{% block page_content %}

    <div id="home-content">

        <form method="post">
            {% csrf_token %}
            <div class="wrapper">
                <div class="main-style-form" id="login-form">
                    <h3 class="text-primary">Enter your email</h3>
                    <label id="label-inner"> Email</label>
                    {{ form.email|placeholder:'enter your email' }}
                    <div>
                        <button class="btn btn-primary" type="submit">Log in</button>
                    </div>
                    <h3 class="text-add-info">We will send an email with link to change your password on the provided email address.</h3>

                </div>

            </div>
        </form>
    </div>
{% endblock %}