{% extends 'base/dashboard.html' %}
{% load placeholders %}
{% block page_content %}
    <div id="home-content">
        <h1>Welcome to <span class="text-primary">Gala</span>tech LTD</h1>
        <div class="wrapper">
            <form method="POST" enctype="multipart/form-data">
                <div class="main-style-form" id="register-form">
                    {% csrf_token %}
                    <label> First Name</label>
                    {{ form.first_name }}
                    <label> Last Name</label>
                    {{ form.last_name }}
                    <label> Age </label>
                    {{ form.age }}
                    <label> Address </label>
                    {{ form.address }}
                    {% if request.user.is_staff %}
                        <label> Upload profile photo</label>
                        {{ form.photo }}
                    {% endif %}
                    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}
