{% extends 'base/base.html' %}
{% block page_content %}
    <div id="home-content">
    <div id="ticket-form">
        <div id="ticket-form-inner">
        <label id="label-inner"> Title</label>
        {{ form.title }}
        <label id="label-inner"> Type </label>
        {{ form.type }}
        </div>
        <div id="ticket-form-inner">
        <label id="label"> Status </label>
        {{ form.status }}
            </div>
        <label id="label"> Upload Photo </label>
        {{ form.photo }}

        <label id="label"> Description </label>
        {{ form.description }}
    </div>

    </div>


{% endblock %}