{% extends 'base/dashboard.html' %}
{% block page_content %}

    <div class="wrapper">
        <div id="ticket-form">
        <label id="label-inner"> Title</label>
        {{ form.title }}
        <label id="label-inner"> Type </label>
        {{ form.type }}
        <label id="label"> Status </label>
        {{ form.status }}
        <label id="label"> Upload Photo </label>
        {{ form.photo }}
        <label id="label"> Description </label>
        {{ form.description }}
        </div>
    </div>

{% endblock %}