@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fff;
    color: #333;
    line-height: 1.6;

}

ul {
    list-style:none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}
p {
    margin: 10px 0;
}

/*Navbar*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height:70px;
    position: fixed;
    top: 0px;
    padding: 0 20px;
    z-index: 999;
}

.navbar a{
    color: #fff;
    padding: 15px 15px;
    margin: 0 5px;
}
.navbar a:hover{
    border-bottom: #0284d0 3px solid;
}
.navbar ul{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    font-weight: 400;
}

.root{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow:hidden;
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
}

#home-content{
    position: fixed;
    top: 80px;
    left: 10px;
    color: #ffffff;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    text-align: center;
    /*z-index: 7;*/

}
#home-content h1{
    font-size:20px;
    font-weight: bold;
    margin-left: 30px;
}

#home-content p{
    padding: 0px;
    margin: 5px;
    font-size: 20px;

}

#footer{
    margin-top:auto;
    background: #00002899;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    color: #c5c6c7;
    font-weight: bold;
}

#logo-avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create-product-page-content{
    display:flex;
    flex-direction: row;

}


.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20vw;
  height: 45vh;
  padding: 10px;
  margin: auto;
  background-color: #00002899;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: -4px 3px 25px 1px rgba(0,0,0,0.55);
-webkit-box-shadow: -4px 3px 25px 1px rgba(0,0,0,0.55);
-moz-box-shadow: -4px 3px 25px 1px rgba(0,0,0,0.55);

}
.product-image img{
  height:10vw;
  padding: 10px;
    border-radius: 15px;

}
#map{
    border-radius:15px;
}

