.text-primary {
    color: #0046d7;
    font-weight: bolder;
}

.text-additional {
    font-size: 5px;
}

.text-highlight {
    color: #020101;

}

.wrapper {
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.main-style-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 20;
    margin: 30px;
    padding: 20px;
    background: #00002899;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 50, 80, 0.9);
    text-align: left;
}

#ticket-form {

}

#ticket-form * {
    z-index: 10;
}

#login-form {

}

.btn-primary {
    color: #ffffff;
    background-color: #000000;
    border-color: #4ac1f7;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
}

#register-form {

}

#confirm-pass-form h3 {
    font-size: 14px;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.text-add-info {
    font-size: 12px;
    color: #4AC1F7FF;
    margin-top: 10px;
}

.text-add-info a {
    color: #ffffff;

}

.text-add-info a:hover {
    color: #ff0000;

}

#tickets-btn-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

#error-message {
    font-size: 10px;
    color: #ff6868;
}

#img-about {
    height: 380px;
    border-radius: 20px;
}

#about-content {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 500px;
    /* The width is the width of the web page */
}

#about-container-1 {
    width: 600px;
}

#details-form-about {
    width: 90%;
    color: #fff;
}

.table-main {
    background-color: #4AC1F7FF
}

.table-main {
    background-color: #00002899;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 800px;
}

.table-main {
    border-collapse: collapse;
}

.table-main thead th {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
}

#days-off-table-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-main tbody td {
    margin: 10px;
    padding: 15px;
    border: 1px solid #211919;
}

.table-main img {

    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.table-header {
    background-color: #4AC1F7FF;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

#request-status-pending {
    background-color: #efef63;
    color: #1b1b1b;
}

#request-status-approved {
    background-color: #105209;
    color: #1b1b1b;
}

